h1{
    color:red;
}

h2{
    color:blue;
}

body{
    background-color: rgb(255, 184, 234);
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}
